@model GreenLightHealth.Client.Models.HomeViewModel

@{
    ViewData["Title"] = "Health Declaration";
}

<!-- First Container -->
<div id="container1" class="container-fluid bg-1 text-center">
    <h3 class="margin">Green Light? Healthy!</h3>
    <span id="@Model.StoplightId" class="stoplight">
        @if (User.Identity.IsAuthenticated)
        {
            <img src="~/qr-code.png" />
        }
    </span>
    <h3>I'm a concert enthusiast!</h3>
</div>

<!-- Second Container -->
<div class="modal fade in" id="health-declaration-form" tabindex="-1" role="dialog" aria-labelledby="myHealthModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body mx-3">
                <!--div id="container2" class="container-fluid bg-2 text-center"-->
                <h3 class="margin" style="color:black">@Model.HealthDeclarationHeader</h3>
                <p style="color:black">@Html.Raw(Model.HealthDeclarationParagraph)</p>
                <button id="@Model.AcceptId" type="button" style="background-color:#4CAF50; color:black" onclick="setElementGreen(@Model.StoplightId)">@Model.AcceptText</button>
                <button id="@Model.DeclineId" type="button" style="        background-color: red;
        color: black
" onclick="setElementRed(@Model.StoplightId)">@Model.DeclineText</button>
            </div>
        </div>
    </div>
</div>

<!-- Third Container (Grid) -->
<div id="container3" class="container-fluid bg-3 text-center">
    <h3 class="margin">What do the colors mean?</h3><br>
    <div class="row">
        <div class="col-sm-4">
            <h2>Red Light</h2>
            <p>If a red stop light is displayed, it means the customer has declined to sign the health declaration. It could be because the customer has some symptoms or because the customer is not willing to sign the declaration.</p>
        </div>
        <div class="col-sm-4">
            <h2>Yellow Light</h2>
            <p>If a yellow light is displayed, it means the customer might not have symptoms yet but Green Light Healthy has determined the customer might have been in contact with someone that has tested positive or is showing symptoms.</p>
        </div>
        <div class="col-sm-4">
            <h2>Green Light</h2>
            <p>If a green light is displayed, it means the customer has accepted and signed the health declartion. The customer is eligibile for admission.</p>
        </div>
    </div>
</div>

<div class="modal fade in" id="registration-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold black">Sign up</h4>
                <button type="button" class="close" id="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fas fa-user prefix grey-text"></i>
                    <label class="black" data-error="wrong" data-success="right" for="orangeForm-name">Full name</label>
                    <input type="text" id="orangeForm-name" class="form-control validate black">
                </div>
                <div class="md-form mb-5">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <label class="black" data-error="wrong" data-success="right" for="orangeForm-email">Email</label>
                    <input type="email" id="orangeForm-email" class="form-control validate">
                </div>

            </div>
            <div id="modalRegisterFormButton" class="modal-footer d-flex justify-content-center">
                <button class="btn btn-deep-orange black" id="btn-accept">Sign up</button>
            </div>
        </div>
    </div>
</div>
