@model GreenLightHealth.Client.Models.HomeViewModel

@{
    ViewData["Title"] = "Health Declaration";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="container1" class="container-fluid bg-1 text-center w3-animate-right">
    <h2 class="margin">Green Light? Healthy!</h2>
    <div id="@Model.StoplightId" class="container stoplight">
        <div class="stoplight-container">
            <div id="@Model.StoplightRedBulbId" class="stoplight-circle" color="red"></div>
            <div id="@Model.StoplightYellowBulbId" class="stoplight-circle" color="yellow"></div>
            <div id="@Model.StoplightGreenBulbId" class="stoplight-circle" color="green"></div>
        </div>
    </div>
    <h3 id="welcome-text"></h3>
</div>

<div id="@Model.QrCodeId" hidden class="container-fluid text-center w3-animate-bottom">
    <img class="qr-code-img" src="~/qr-code.png" />
</div>

<div id="container3" class="container-fluid bg-3 text-center w3-animate-left">
    <h2 class="margin">Are you safe?</h2><br>
    <div class="row">
        <div class="col-sm-4">
            <h4 style="color:pink"><i class="fa fa-frown-o" aria-hidden="true"></i> Red Light</h4>
            <p>You have self-declared that you have symptoms or a positive test result. You could be at risk or put others at risk. Please seek consultation from medical experts to protect yourself and others if you have symptoms or a positive test result.</p>
        </div>
        <div class="col-sm-4">
            <h4 style="color:lightyellow"><i class="far fa-meh" aria-hidden="true"></i> Yellow Light</h4>
            <p>You have declared that you are free of smptoms and have no positive test results. However, you may have been exposed through contact to others who are now reporting symptoms of illness. Please seek consultation from medical experts to protect yourself and others.</p>
        </div>
        <div class="col-sm-4">
            <h4 style="color:lightgreen"><i class="fa fa-smile-o" aria-hidden="true"></i> Green Light</h4>
            <p>You have declared that you are free of smptoms and have no positive test results. Additionally, your contact history is clear of others who are now marked red. Please be careful and follow all regulatory guidelines to continue to protect yourself and others from illness.</p>
        </div>
    </div>
</div>

<!-- Login/Registration Form Modal -->
<div class="modal fade in" id="@Model.LoginRegistrationModalId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <h4 class="modal-header text-center modal-title w-100 font-weight-bold black">Welcome to Green Light Healthy!</h4>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fa fa-user prefix grey-text"></i>
                    <label class="black" data-error="wrong" data-success="right" for="orangeForm-name">What is your full name?</label>
                    <input type="text" id="orangeForm-name" class="form-control validate black">
                    <div id="feedback" class="invalid-feedback hidden">Please enter your full name <i class="fa fa-times" aria-hidden="true"></i></div>
                </div>
                <br/>
                <div class="md-form mb-5">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <label class="black" data-error="wrong" data-success="right" for="orangeForm-email">What is your email address?</label>
                    <input type="email" id="orangeForm-email" class="form-control validate">
                </div>

            </div>
            <div id="modalRegisterFormButton" class="modal-footer d-flex justify-content-center">
                <button class="bg-1" id="btn-accept">Login and/or Register</button>
            </div>
        </div>
    </div>
</div>

<!-- Health Declaration Modal -->
<div class="modal fade in" id="@Model.HealthDeclarationModalId" tabindex="-1" role="dialog" aria-labelledby="myHealthModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content d-flex justify-content-center">
            <h3 id="@Model.HealthDeclarationHeaderId" class="margin text-center modal-header"><i class="fa fa-medkit" aria-hidden="true"></i> @Model.HealthDeclarationHeader</h3>
            <div id="@Model.HealthDeclarationParagraphId" class="modal-body mx-3 bg-4">
                @Html.Raw(Model.HealthDeclarationParagraph)
            </div>
            <div class="modal-footer">
                <button id="@Model.DeclineId" class="bg-1" type="button" onclick="setElementRed('@Model.StoplightId', '@Model.StoplightGreenBulbId', '@Model.StoplightRedBulbId', '@Model.HealthDeclarationModalId', '@Model.QrCodeId')">@Model.DeclineText</button>
                <button id="@Model.AcceptId" class="bg-1" type="button" onclick="setElementGreen('@Model.StoplightId', '@Model.StoplightGreenBulbId', '@Model.StoplightRedBulbId', '@Model.HealthDeclarationModalId', '@Model.QrCodeId')">@Model.AcceptText</button>
            </div>
        </div>
    </div>
</div>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>